@import "tailwindcss/base";

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav a {
  color: theme('colors.neutral.50') !important;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}
